@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;margin: 0;box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
    
}

.nav{
    width: 100%;
    background-color: #000;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 80%;
    margin: auto;
}
nav a{
    color: #fff;
}
nav ul{
    display: flex;
}
nav ul li{
    padding-right: 30px;
    font-family: 'Lato', sans-serif;
}
nav ul li a{
    font-weight: 577;
    font-size: 1.1rem;
}

.logo{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    user-select: none;
    letter-spacing: 2px;
}
@media(max-width:978px){
    .logo{
         
        font-size: 1.7rem;
         
    }
    nav ul li a{
         
        font-size: 1rem;
    }
    nav{
        width: 95%;
    }
}
@media(max-width:800px){
    nav ul{
         
    }
}


.article-main{
    width: 77%;
    margin: 50px auto 50px auto;
    display: grid;
    grid-template-columns: 3.8fr 1.2fr;
    gap: 50px;
    font-family: 'Roboto', sans-serif;
}
.article-post h1,h2,h3,h4,h5,h6{
    margin-bottom: 30px;
    
}
.article-post img{
    width: 100%;
    margin-bottom: 27px;
}
.article-post p{
    margin-bottom: 30px;
}
.article-main p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400
    ;
    font-size: 19px;
    line-height: 31px;
    color: #2c2c2c
    ;
}
.article-title{
    margin-bottom: 25px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 34px;
    line-height: 46px;
    color: #0c0c0c;
}
.side h1{
    margin-bottom: 10px;font-family: 'Roboto', sans-serif;
    margin-top: 110px;
}
.side hr{
    margin-bottom: 20px;
}
.side-posts{
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    
}
.side-posts img{
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px; 
}
.side-posts h4{
    margin-left: 20px;
}

@media(max-width:1000px){
    .article-main{
        grid-template-columns: 1fr;
    }
    .article-title{
         
        font-size: 28px;
        line-height: 41px;
         
    }
}
@media (max-width:750px){
    
    .nav ul{
        display: none;
    }
}
@media (max-width:500px){
    
    .article-title{
         
        font-size: 23px;
        line-height: 36px;
         
    }
}













footer{
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    padding: 35px;
    color: #fff;
}