@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@500&display=swap');
:root {
    --bg-page: #1a1a1a;
    --text-color: #f3f3f3;
    --card-bg: #202020;
    --icon-bg: #45423C;
    --blue: #0870f8;
    --blue-rgb: 8, 112, 248;
    --orange: #FF9232;
    --g-purple: linear-gradient(30deg, #85f, #9966ff);
    --g-yellow: linear-gradient(30deg, #fc0, #fc0);
    --g-red: linear-gradient(30deg, #f36, #f24);
    --g-blue: linear-gradient(30deg, #0cf, #0af);
    --g-purple: linear-gradient(30deg, #85f, #9966ff);
    --range: 0%;
    --shadow: rgba(0, 6, 39, .1);
    --light-shadow: rgba(255, 255, 255, .8);
    --light-shadow-2: rgba(255, 255, 255, .1);
}
*{
    padding: 0;margin: 0;box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
    
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 
nav{
  display: flex;
  height: 90px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo a{
  color: #fff;
  font-size: 27px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

 
 

/*  RECENTS */


.main{
    width: 85%;
    margin: 30px auto 30px auto;
}
 
 

.header{
    display: grid;
    grid-template-columns: 3.8fr 1.2fr;
    gap: 50px;
}
.editorpick{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    gap: 10px;
}
.box{
     
    padding: 20px;
    border-radius: 5px;
     
}
 
.box img{
    width: 100%;
    
    border-radius: 5px;
    object-fit: cover;
     
}
.editorpick .title{
    margin-top: 17px;
    margin-bottom: 7px;
    font-family: 'Poppins', sans-serif;
}
.artic{
    margin-top: 17px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    
}
.side h1{
    margin-bottom: 10px;
}
.side hr{
    margin-bottom: 20px;
}
.side-posts{
    display: flex;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    
}
.side-posts img{
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px; 
}
.side-posts h4{
    margin-left: 20px;
}
.ad-section{
    margin-top: 140px;
}

.editorpick-date{
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    margin-left: 2px;
    
     
}
.badge{
     
    color: white;
    padding: 4px;
    border-radius: 5px;
    margin-left: 7px;
     
}
.badge-music{
    background-color: purple;
}
.badge-people{
    background-color: brown;
}
.badge-history{
    background-color: #000;
}
.badge-movie{
    background-color: darkblue;
}



@media(max-width:1200px){
    .editorpick{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:1020px){
    .editorpick{
        grid-template-columns: 1fr;
    }
}
@media (max-width:750px){
    .main{
        width: 92%;
    }
    .header{
        grid-template-columns: 1fr;
    }
    .nav ul{
        display: none;
    }
}

.recents{
  width: 85%;
  margin: 20px auto 20px auto;
}

.recentpostsection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
 
 
 
  

.recentbox{
     
  padding: 20px;
  border-radius: 5px;
   
}
 
.recentbox img{
    width: 100%;
  border-radius: 5px;
  object-fit: cover;
   
}
.recents .title{
  margin-top: 17px;
  margin-bottom: 7px;
  font-family: 'Poppins', sans-serif;
}
.artic{
  margin-top: 17px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  
}

@media(max-width:1200px){
  .recentpostsection{
    
      grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:700px){
  .recentpostsection{
      grid-template-columns: 1fr;
  }
}


footer{
   
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    padding: 35px;
    color: #fff;
}
.pagination{
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
}

.pagination li{
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a{
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 45px;
}

.previous-page, .next-page{
  background: #000000;
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.previous-page:hover{
  transform: translateX(-5px);
}

.next-page:hover{
  transform: translateX(5px);
}

.current-page, .dots{
  background: #000000;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.active{
  background: #2a2c3e;
}

.disable{
  background: #ccc;
}
.article-main{
    width: 80%;
    margin: 50px auto 50px auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
}
.article-main img{
    width: 100%;
    margin-bottom: 20px;
}
.article-main p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400
    ;
    font-size: 19px;
    line-height: 31px;
    color: #2c2c2c
    ;
}
.article-title{
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
    color: #0c0c0c;
}

.more-related{
    margin-bottom: 160px;
}

/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}


/* ===== Colours ===== */
